.logo {
    background-image: url('/11.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url('/11.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0 auto 20px;
    border: 4px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: bold;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    width: 100%;
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: left;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.login-container input:focus {
    border-color: #007bff; 
    outline: none;
}

.login-container button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #1b1eca;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.signup-button:hover {
    background-color: #282188; 
    transform: translateY(-3px); 
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.login-container input:hover {
    border-color: #0056b3;
    transition: border-color 0.3s ease;
}
