
.submit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-image: url('/50.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; 
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}



.timer{
  font-size: 50px; 
  font-weight: bold;
  color: #ff0000; 
  margin-bottom: 20px;
  border: 2px solid rgb(230, 25, 25); 
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.137); 


}

.success-message {font-size: 2rem;
  color: rgb(3, 212, 48);
  border: 2px solid rgb(103, 253, 15); 
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.137); 
}

.error-message {
  font-size: 2rem;
  color: rgb(255, 0, 0); 
  border: 2px solid rgb(230, 25, 25); 
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.137); 
}

.form-container {
  width: 100%;
  max-width: 600px; 
  background-color: rgba(127, 199, 199, 0.219);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #0c0101;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

form h3 {
  margin-top: 20px;
  color: #5f0eca;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #0c0404f8;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {

  
  width: 100%;
  padding: 0.75rem;
  background-color: #1b52ca;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button[type="submit"]:disabled {
  background-color: #ccc;
}

.booking-complete {
  text-align: center;
}

.booking-complete h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.success-image {
  width: 200px; 
  margin-top: 20px;
}


.booking-info p {
  font-size: 1.5rem; /* Increase font size in booking information */
align-items: baseline;}


.booking-info {
  background-color: #ffffff; /* White background */
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  border: 1px solid #e0e0e0; /* Light border for definition */
}
booking-info p {
  margin: 4px 0;
  color: #333333; /* Dark text color for readability */
  font-weight: 500; /* Slightly bold text */
}

.booking-info p strong {
  color: #555555; /* Softer color for labels */
}
