/* SubmitPage.css */

.submit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the page takes the full height of the viewport */
  background-image: url('/50.jpg'); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; /* Ensures the text is readable on the background */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}



.timer{
  font-size: 50px; /* Adjust this size as needed */
  font-weight: bold;
  color: #ff0000; /* You can customize the color if you'd like */
  margin-bottom: 20px;
  border: 2px solid rgb(230, 25, 25); /* Red border for the boxes */
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.137); /* Slight red background to make the box stand out */


}
.error-message, .success-message {
  font-size: 2rem;
  color: rgb(255, 0, 0); /* Red text for timer */
  border: 2px solid rgb(230, 25, 25); /* Red border for the boxes */
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.137); /* Slight red background to make the box stand out */
}

/* Form container with box frame */
.form-container {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  background-color: rgba(127, 199, 199, 0.219); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #0c0101; /* White border to create the frame effect */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Optional: shadow for depth */
}

form h3 {
  margin-top: 20px;
  color: #5f0eca;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #0c0404f8;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {

  
  width: 100%;
  padding: 0.75rem;
  background-color: #1b52ca;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button[type="submit"]:disabled {
  background-color: #ccc;
}

/* Booking complete section */
.booking-complete {
  text-align: center;
}

.booking-complete h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.success-image {
  width: 200px; /* Adjust this size as needed */
  margin-top: 20px;
}
